#!/bin/bash

# function1使用  按行删除文件中超过X天的日志
# key为不重复序号，value为按|分隔的参数
# 参数1:文件完整路径，参数2：date日期匹配pattern 参数3:保留天数
declare -A FILES_OF_REMOVE_BY_LINE_MAP=(
    ["1"]="/home/zhyyusr/shell/mg-release/client/logs/mg_client.log|%Y%m%d|60"
)

# function2使用  删除超过X天的日期格式的目录
# key为不重复序号，value为按|分隔的参数
# 参数1:目录，参数2：date日期匹配pattern 参数3:保留天数
# 参数4:辅助串，如-01，用于将2024-10补充为2024-10-01，防止date -d命令报错
declare -A DATE_DIR_MAP=(
    ["1"]="/home/zhyyusr/backup|%Y%m%d|180|"
)

# function3使用  按日分隔日志文件清理
# key:不重复序号，value为按|分隔的参数
# 参数1:find目录  参数2:find name  参数3:保留天数
declare -A DAY_LOG_MAP=(
    ["1"]="/home/bes/BWS/logs|access20*.log|180"
)

# function4使用    使用重定向清理的文件列表，目前仅企业数字平台使用
CLEAN_BY_REDIRECTION_FILES=()

# function5使用    清理自身产生的日志
SELF_LOG_FILE="/home/zhyyusr/logs/log_cleaner.log"
SELF_LOG_OUT_DAYS=60
